/* General configurations*/

* {
    margin: 0;
    padding: 0;
}


/*For all style of body*/

body {
    font-family: 'Kalam', cursive;
    font-size: 15px;
}


/*For text "MY" and the "." in the level 1 of title */

.orange {
    color: #ff7a00;
}


/*For all elements in header*/

header {
    height: 120px;
}


/*For remove the point on list of items*/

ul {
    list-style: none;
}


/*For all level 1 of title*/

h1 {
    font-family: 'Satisfy', cursive;
    font-size: 45px;
}


/*For all level 2 of title*/

h2 {
    color: #444;
    font-size: 55px;
    font-family: 'Major Mono Display', monospace;
}


/*For all link elements*/

a {
    text-decoration: none;
    color: #ff7a00;
}


/*For specially level 1 of title in header*/

header h1 {
    float: left;
    margin-top: 30px;
    margin-left: 15px;
}


/**/

header nav {
    float: right;
    margin-top: 70px;
}


/**/

header nav ul li {
    display: inline-block;
}


/**/

header nav ul li a {
    font-weight: bold;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.gras {
    font-weight: bold;
}


/*Main IMAGE*/

#main-image {
    height: 580px;
    background: url('../images/main.jpg') center;
}

#main-image h2 {
    font-weight: normal;
    text-align: center;
    padding: 150px 0px 40px 0px;
    margin-bottom: 20px;
}

.Button1 {
    width: 120px;
    background: #ff7a00;
    display: block;
    height: 50px;
    line-height: 50px;
    color: black;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}